* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: #592405;
    padding: 10px 20px;
    display: flex;/*joga o menu para a direita*/
    align-items: center;
    justify-content: space-between;
}

header img {
    width:10%;
    height: auto;
    border-radius: 10px;
}

header ul {
    color: aliceblue;
    display: flex;/*deixa a navegação alinhada*/
}

header li {
    margin: 5px;
    color: aliceblue;
    cursor: pointer;/*mão do cursor*/
    list-style: none;
    transition: 0.4s;
}

li:hover {
    color: #2a1711;
    text-shadow: 0 0 8px white;
}

main {
    background-image: url('../img/sjc.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0 0 1rem black;/*simula uma sombra*/
}

.resumo{
    color: aliceblue;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;   
    padding: 20px; 
    text-align: justify;
}

h1 {
    margin-top: 50px;
    padding: 20px;
    color: black;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 35px;
    margin-top: 20px;
    padding: 10px;
    color: black;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
}

.pai .info{
    font-size: 16px;
}

.pai h3 {
    font-size: 20px;
}

.pai {
    display: flex;
    justify-content: center;
}

.pai div{
    background-color: white;
    border-radius: 12px;
    margin: 15px;
    padding: 20px;
    width: 320px;
    height: 350px;
}



.video {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #592405;
    color: aliceblue;
    padding: 20px;
}

.ul-footer {
    padding: 20px;
    display: flex;
}
footer img {
    width:70%;
    border-radius: 50%;
    cursor: pointer;
}

.ul-footer li {
    list-style: none;
    filter: brightness(100);
}

@media (max-width: 425px) {
    .texto {
        padding-bottom: 30px;
    }
    .pai {
        flex-wrap: wrap;
    }
    .pai div {
        width: 320px;
        height: 500px;
        margin: 10px 2px 10px 2px;
        padding: 0 15px 0 15px;
    }
    .pai .info{
        font-size: 20px;
    }
    
    .pai h3 {
        font-size: 25px;
    }
    .video {
        padding-top: -2px;
    }

    h1 {
        margin-top: 50px;
        padding: 20px;
        color: black;
        background-color: #d5d1d12f;
        border-radius: 0px;
        display: flex;
        justify-content: center;
    }
    
    h2 {
        font-size: 35px;
        margin-top: 20px;
        padding: 10px;
        color: black;
        background-color: #babba980;
        display: flex;
        justify-content: center;
    }

}
